
#logo {
    width: 6em;
}
h1{
    position: relative;
    top: 6rem;
    font-size: 300%;
    z-index: 100;
}
.btnFooter{
    width: 5em;
}
footer{
    background-color: darkgrey;
}
#panier{
    width: 1.2em;
}

main {
    text-align: center;
    height: 80%;
    color: rgb(235, 74, 154);
    padding: 0;
}

.carousel-prod {
    background-color: rgb(139, 133, 133);
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: whitesmoke solid 1px;
    margin: 0;
    padding: 1em;
}

.carousel-img {
    width: 100%;
    border: whitesmoke solid 1px;
    border-radius: 10px;
    margin: 0;
    z-index: 150;
}
.hide {
    display: none;
}

.show {
    display: inline-block;
}

.checkbox-no, .checkbox-yes {
    height: 1em;
    width: 1em;
    margin: 20px;
    border: black solid 1px;
    border-radius: 10px;
    display: inline-block;

}
.btnBoutique{
    position: relative;
    top: -6em;
}
.checkbox-yes {
    background-color: rgb(235, 74, 154);
}