
#logo {
    width: 6em;
}
.photo{
    width: 800px;
    height: 400px;
    margin: 0;
    display: inline-block;
    background-size: cover;
}
.btnFooter{
    width: 5em;
}
footer{
    background-color: darkgrey;
}
#panier{
    width: 1.2em;
}

