
#logo {
    width: 6em !important;
}

.btnFooter{
    width: 5em;
}
footer{
    background-color: darkgrey;
}
#panier{
    width: 1.2em;
}
h1{
    text-align: center;
    font-size: 4em;
    color: rgb(235, 74, 154);
}
/* Modification fond du body */
body {
    background-color: #eef0f3;
}
.wrapper {
    width: 95%;
    margin: 0 auto;
}
/* Mise en forme bouton de mise au panier dans products */
#products button {
    color: deeppink;
    width: 14em;
    height: 3em;
    border-radius: 10%;
  }
  /* Mise en forme du répertoire des produits */
#products {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}
  /* Mise en forme des cartes */
.card {
    text-align: center;
    background-color: #f8f3f3;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
/* Définition des container contenant les produits */
.image-container {
    text-align: center;
}
/* Définition des image au sein des cartes */
.image {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}
/* Mise en forme des container produits */
.container {
    padding-top: 1em;
    color: #110f29;
}
/* Mise en forme container titre produits */
  .container h5 {
    font-weight: 500;
}
/* Classe pour cacher les produits non désirés */
.hide {
    display: none;
}
/* Bordure  autour du filtre */
fieldset.bordure{
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}
legend.bordure{
    position: relative;
    top: -0.8em;
    width:auto;
    padding:0 10px; 
    border-bottom:none;
}
/* Fenètre Modale du Panier */
.modale{
    position: relative;
    top: -60em;
    z-index: 100;
    width: 50%;
    background-color: cornsilk;
}
.message{
    color: deeppink;
}
#basketModal{
    margin-left: 30%;
   
}
.basketButton{
    color: deeppink !important;
    border: darkgray !important;
    width: 14em !important;
    height: 3em !important;
    border-radius: 10% !important;
}
.modalPanier{
    min-width: 75em !important;
    margin-right: 50%;
}
 @media screen and (max-width: 720px) {
   
    img {
      /*max-width: 100%;*/
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 350%;
      margin-top: 1em;
     
    }
    #products {
      grid-template-columns: 1fr;
      grid-column-gap: 1em;
    }
  }





