.imagePanier{
    max-width: 50%;
}
.namePanier{
    color: darkgrey;
}
.basketPrice{
    color: darkgrey;
    font-size: 2em;
}
.totalPrice{
    color: darkgrey;
    font-size: 2em;
}
.bouton-corbeille{
    min-width: 100px;
}
.produit-quantite{
    font-size: 2em;
    position: relative;
    top: .15em;
}
.buttonPanier{
    min-width: 15em;
    font-size: 2em;
}