/* hide or show the slides */

.hide {
    display: none;
}

.show {
    display: inline-block;
}

/* * * General * * */

main {
    text-align: center;
    background-color: rgb(56, 53, 53);
    height: 800vh;
    color: rgb(235, 74, 154);
    padding: 0;
}
/* * * Main * * */

.carousel-prod {
    background-color: rgb(139, 133, 133);
    display: inline-block;
    width: 55em;
    height: auto;
    border-radius: 10px;
    border: whitesmoke solid 1px;
    margin: 2em;
    padding: 1em;
}

.carousel-img {
    height: 60%;
    width: 100%;
    border: whitesmoke solid 1px;
    border-radius: 10px;
    margin: 0.5em 0;
}

.checkbox-no, .checkbox-yes {
    height: 1em;
    width: 2em;
    border: whitesmoke solid 1px;
    border-radius: 10px;
    display: inline-block;

}

.checkbox-yes {
    background-color: rgb(235, 74, 154);
}